/*Section*/
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg-.jpg);
    background-size: cover;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-weight: 700;
}

/*Login*/

.login-page {
    box-sizing: border-box;
    padding: 0 20px;
}

.dashboard {
    color: #fff;
    padding: 40px 30px;
    background: rgba(219, 101, 116, 0.95);
    border-radius: 6px 6px 0 0;
}

/*formulário de login*/

.form-login {
    padding: 40px 35px;
    border-radius: 0 0 6px 6px;
}

.form-login form {
    box-sizing: border-box;
}

.form-itemmmm {
    position: relative;
    margin: 25px 0;
    color: #8a8d93;;
}

.inputText {
    font-size: 13px;
    width: 100%;
    height: 35px;
    background-color: #343A40;
    border: none;
    border-bottom: 1px solid #8a8d93;
    outline: none;
    transition: 0.2s ease all;
    color: #8a8d93;
}

.inputText:focus {
    border-bottom: 1px solid #DB6574;

}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 2px;
    transition: 0.2s ease all;

}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
    color: #DB6574;
    top: -10px;
    left: 0;
    font-size: 0.82rem;
    opacity: 1;
    transition: 0.3s ease all;

}

.style-button {
    border: none;
    background: rgba(219, 101, 116, 0.95);
}

.style-button:hover {
    background-color: #ce3f52;
}

.style-button:active {
    background-color: #ce3f52 !important;
    border:none !important;
}

.links-form {
    margin-top: 15px;
}

.links-form a {
    color: #DB6574;
    font-size: 16px;
}

.links-form p {
    color: #aaa;
    font-size: 13px;
}

@media screen and (min-width: 990px) {

    .dashboard {
        border-radius: 6px 0 0 6px;
        display: flex;
        align-items: center;
    }

    .position-login {
        width: 90%;
    }

    .form-login {
        border-radius: 0 6px 6px 0;
        display: flex;
        align-items: center;
    }

    .login-page {
        min-height: 70vh;
    }

}